TemporaryFILES/xsd.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="punchType">
    <xs:attribute name="x" type="xs:decimal" />
    <xs:attribute name="y" type="xs:decimal" />
</xs:complexType>


<xs:complexType name="descriptionType">
    <xs:sequence>
        <xs:element name="interpret" type="xs:string"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="year" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="propertiesType">
    <xs:sequence>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="rollwidth" type="xs:decimal"/>
        <xs:element name="holetype" type="xs:string"/>
        <xs:element name="holewidth" type="xs:decimal"/>
    </xs:sequence>
</xs:complexType>

 <xs:complexType name="songType">
    <xs:sequence>
        <xs:element name="description" type="descriptionType" maxOccurs="1"/>
        <xs:element name="punch" type="punchType" maxOccurs="unbounded" />
    </xs:sequence>
</xs:complexType>

<xs:complexType name="rollType">
    <xs:sequence>
        <xs:element name="properties" type="propertiesType" />
        <xs:element name="song" type="songType" />
    </xs:sequence>
</xs:complexType>

<xs:element name="roll" type="rollType"/>
</xs:schema>